USE [master]
GO
/****** Object:  Database [EVDealerSystem]    Script Date: 11/7/2025 3:33:03 PM ******/
CREATE DATABASE [EVDealerSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EVDealerSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EVDealerSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EVDealerSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EVDealerSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EVDealerSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EVDealerSystem]
GO
/****** Object:  Table [dbo].[dealers]    Script Date: 11/7/2025 3:33:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dealers](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[code] [nvarchar](20) NOT NULL,
	[address] [nvarchar](max) NULL,
	[phone] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[created_at] [datetime2](7) NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_history]    Script Date: 11/7/2025 3:33:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_history](
	[id] [uniqueidentifier] NOT NULL,
	[order_id] [uniqueidentifier] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[notes] [nvarchar](max) NULL,
	[created_by] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 11/7/2025 3:33:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [uniqueidentifier] NOT NULL,
	[order_number] [nvarchar](30) NULL,
	[customer_id] [uniqueidentifier] NOT NULL,
	[dealer_id] [uniqueidentifier] NOT NULL,
	[vehicle_id] [uniqueidentifier] NOT NULL,
	[total_amount] [decimal](15, 2) NOT NULL,
	[status] [nvarchar](20) NULL,
	[payment_status] [nvarchar](20) NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[order_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test_drive_appointments]    Script Date: 11/7/2025 3:33:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test_drive_appointments](
	[id] [uniqueidentifier] NOT NULL,
	[customer_id] [uniqueidentifier] NOT NULL,
	[dealer_id] [uniqueidentifier] NOT NULL,
	[vehicle_id] [uniqueidentifier] NOT NULL,
	[appointment_date] [datetime2](7) NOT NULL,
	[status] [nvarchar](20) NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 11/7/2025 3:33:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [uniqueidentifier] NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[role] [nvarchar](20) NULL,
	[dealer_id] [uniqueidentifier] NULL,
	[created_at] [datetime2](7) NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicles]    Script Date: 11/7/2025 3:33:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicles](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[brand] [nvarchar](50) NULL,
	[model] [nvarchar](50) NULL,
	[year] [int] NULL,
	[price] [decimal](15, 2) NOT NULL,
	[description] [nvarchar](max) NULL,
	[specifications] [nvarchar](max) NULL,
	[images] [nvarchar](max) NULL,
	[stock_quantity] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[dealers] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[dealers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[dealers] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[order_history] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[order_history] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[test_drive_appointments] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[test_drive_appointments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[test_drive_appointments] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[vehicles] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[vehicles] ADD  DEFAULT ((0)) FOR [stock_quantity]
GO
ALTER TABLE [dbo].[vehicles] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[vehicles] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[order_history]  WITH CHECK ADD  CONSTRAINT [FK_order_history_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_history] CHECK CONSTRAINT [FK_order_history_orders]
GO
ALTER TABLE [dbo].[order_history]  WITH CHECK ADD  CONSTRAINT [FK_order_history_users] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[order_history] CHECK CONSTRAINT [FK_order_history_users]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_customers] FOREIGN KEY([customer_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_customers]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_dealers] FOREIGN KEY([dealer_id])
REFERENCES [dbo].[dealers] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_dealers]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_vehicles] FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicles] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_vehicles]
GO
ALTER TABLE [dbo].[test_drive_appointments]  WITH CHECK ADD  CONSTRAINT [FK_testdrive_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[test_drive_appointments] CHECK CONSTRAINT [FK_testdrive_customer]
GO
ALTER TABLE [dbo].[test_drive_appointments]  WITH CHECK ADD  CONSTRAINT [FK_testdrive_dealer] FOREIGN KEY([dealer_id])
REFERENCES [dbo].[dealers] ([id])
GO
ALTER TABLE [dbo].[test_drive_appointments] CHECK CONSTRAINT [FK_testdrive_dealer]
GO
ALTER TABLE [dbo].[test_drive_appointments]  WITH CHECK ADD  CONSTRAINT [FK_testdrive_vehicle] FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicles] ([id])
GO
ALTER TABLE [dbo].[test_drive_appointments] CHECK CONSTRAINT [FK_testdrive_vehicle]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_dealers] FOREIGN KEY([dealer_id])
REFERENCES [dbo].[dealers] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_dealers]
GO
USE [master]
GO
